.selecao-clientes h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
}

.grid-clientes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 60px;
  max-width: 800px;
  width: 100%;
  justify-content: center;
}

.cliente-item {
  height: 150px;
  border-radius: 20px;
  display: block;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  text-align: bottom;
  cursor: pointer;
  transition: 0.3s;
}

.cliente-item:hover {
  opacity: 0.8;
}
